/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@400;500&family=Roboto&display=swap");

/* variables */
:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --tertiary-font: "Roboto", sans-serif;
  --primary-color: #562eff;
  --secondary-color: #ed6b4f;
}

/* common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 870px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.section-title {
  font-weight: 500;
  font-size: 24px;
  color: var(--primary-color);
}

.bg-white {
  background-color: #ffffff;
}

/* -----------
    Header
-------------- */
header {
  background-color: var(--primary-color);
  padding: 26px 0 17px;
}

.logo {
  gap: 15px;
}

.logo img {
  width: 40px;
}

.logo h3 {
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
}

nav ul {
  gap: 36px;
}

nav ul li a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

/* -------------
    Top Players
---------------- */

.top-section {
  padding: 30px;
  margin: 36px auto 28px;
  border-radius: 5px;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  margin: 40px 0 30px;
}

.player {
  column-gap: 16px;
}

.player-img img {
  width: 56px;
}

hr {
  border: 1px solid #d1d1d1;
}

.top-blogs .section-title {
  margin: 30px 0;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 25px;
  row-gap: 26px;
}

.blog {
  gap: 16px;
}

.blog-img {
  width: 45%;
}

.blog-info {
  width: 50%;
}

.blog-img img {
  width: 100%;
}

.blog-title {
  font-size: 20px;
  font-weight: 500;
  margin-top: 8px;
  color: #000000;
}

.blog-author {
  margin-top: 6px;
  color: #9f9f9f;
}

.blog-author a {
  color: var(--primary-color);
}

/* ----------------
    Latest Course
------------------- */

.course-section {
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.course-section .section-title {
  margin-bottom: 30px;
}

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 23px;
}

.course {
  padding: 13px;
  box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
}

.thumbnail img {
  width: 100%;
}

.course-title {
  font-family: var(--tertiary-font);
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  display: block;
  margin-top: 16px;
}

.course-author {
  color: var(--secondary-color);
  display: block;
  margin: 6px 0 20px;
}

.ratings i {
  color: #ffc014;
  font-size: 12px;
}

.ratings i.empty {
  color: #aeaeae;
  opacity: 0.25;
}

.ratings span {
  color: #a2a2a2;
  font-size: 14px;
}

.course-duration {
  padding: 5px 8px;
  background-color: #fee5df;
  border-radius: 15px;
}

.course-duration i {
  font-size: 16px;
  color: var(--secondary-color);
  margin-right: 3px;
}

.course-duration span {
  font-size: 15px;
  color: var(--secondary-color);
}

@media (max-width: 688px) {
  .container {
    width: 100%;
  }

  .section-title {
    text-align: center;
  }

  .players {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .player {
    flex-direction: column;
  }

  .blogs {
    grid-template-columns: 1fr;
  }

  .blog {
    flex-direction: column;
  }

  .blog-img,
  .blog-info {
    width: 100%;
  }

  .blog-info {
    text-align: center;
  }

  .courses {
    grid-template-columns: 1fr;
  }

  .course-title,
  .course-author {
    text-align: center;
  }
}

/* Medium Devices */

@media (min-width: 689px) and (max-width: 992px) {
  .container {
    width: 100%;
  }

  .players {
    grid-template-columns: repeat(2, 1fr);
  }

  .blogs {
    grid-template-columns: repeat(2, 1fr);
  }

  .courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }

  .course {
    width: 47%;
  }
}
